name: CICD Pipeline

on:
  push:
    branches: [ main ]

jobs:
  compile:
    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v4
    - name: Show project tree
      run: |
        sudo apt-get update
        sudo apt-get install tree -y
        tree -L 3
    - name: Show Git commit info
      run: git log -1
    

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      run: mvn compile

  security-check:
    runs-on: self-hosted
    # needs: compile

    steps:
    - name: Checkout Code
      uses: actions/checkout@v6

    - name: Install Trivy
      run: |
        sudo apt-get update
        sudo apt-get install -y wget apt-transport-https gnupg lsb-release
        wget -qO - https://aquasecurity.github.io/trivy-repo/deb/public.key | sudo apt-key add -
        echo "deb https://aquasecurity.github.io/trivy-repo/deb $(lsb_release -sc) main" | sudo tee -a /etc/apt/sources.list.d/trivy.list
        sudo apt-get update
        sudo apt-get install -y trivy

    - name: Run Trivy FS Scan
      run: trivy fs --format table -o trivy-report.txt .

    - name: Install Gitleaks
      run: |
        sudo apt-get install -y curl
        curl -L https://github.com/zricethezav/gitleaks/releases/download/v8.21.2/gitleaks_8.21.2_linux_x64.tar.gz -o gitleaks.tar.gz
        tar xzf gitleaks.tar.gz
        sudo mv gitleaks /usr/local/bin/

    - name: Run Gitleaks Scan
      run: gitleaks detect --source . --report-path gitleaks-report.json --report-format json
      continue-on-error: true