name: CICD Pipeline

on:
  push:
    branches: [ main ]

jobs:
  compile:
    runs-on: ubuntu-latest

    steps:
    # - uses: actions/checkout@v4
    - name: Print Hello World
      run: echo "Hello from github actins"
      
    - name: checkout
      uses: actions/checkout@v6


